#heading{
    text-align: center;
    font-size: 40px;
    margin-bottom: 20px;
    margin-top: 30px;
    opacity: 0.6;
}
#caption{
    text-align: center;
    font-size: 25px;
    opacity: 0.6;
    margin-bottom: 20px;
}

.label{
    color:rgb(7, 7, 14);
    font-size: 20px;
    margin-bottom: 10px;
}
.container{
    width: 600px;
    background-color: tomato;
    border-radius: 5px;
    opacity: 0.5;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}
.form{
    margin-right: 25px;
    margin-top: 25px;
    margin-left: 25px;
    margin-bottom: 25px;
}
.div{
    margin-bottom: 15px;
}
.input{
    margin-right: 20px;
    margin-left: 20px;
    width:90%;

}